<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Главная</title>
        <meta name="theme-color" content="">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link rel="stylesheet" href="css/main.min.css">
    </head>
    <body class="front-page ">

        <div class="wrapper">
            <!-- Sidebar -->
            //= blocks/sidebar.html
            <!-- / Sidebar -->
            <main class="main">
                <!-- Header -->
                //= blocks/main-header.html
                <!-- / Header -->
                <div class="content">
                  <div class="content__top-panel">
                    <h1 class="content__main-title">Добрый день, <span class="content__username">Пользователь!</span></h1>
                  </div>
                  <div class="content__menu-grid menu-grid">
                    <a href="#" class="menu-grid__item menu-grid__item_create">
                      <div class="menu-grid__item-body">
                        <h3 class="menu-grid__item-title">Создать выпуск</h3>
                      </div>
                    </a>

                    <a href="#" class="menu-grid__item menu-grid__item_templates">
                        <div class="menu-grid__item-body">
                          <h3 class="menu-grid__item-title">Шаблоны</h3>
                        </div>
                      </a>

                      <a href="#" class="menu-grid__item menu-grid__item_reports">
                          <div class="menu-grid__item-body">
                            <h3 class="menu-grid__item-title">Отчеты</h3>
                          </div>
                        </a>

                        <a href="#" class="menu-grid__item menu-grid__item_tasks">
                            <div class="menu-grid__item-body">
                              <h3 class="menu-grid__item-title">Задачи</h3>
                            </div>
                          </a>

                          <a href="#" class="menu-grid__item menu-grid__item_messages">
                              <div class="menu-grid__item-body">
                                <h3 class="menu-grid__item-title">Сообщения</h3>
                              </div>
                            </a>

                            <a href="#" class="menu-grid__item menu-grid__item_messages">
                                <div class="menu-grid__item-body">
                                  <h3 class="menu-grid__item-title">Сообщения</h3>
                                </div>
                              </a>

                              <a href="#" class="menu-grid__item menu-grid__item_messages">
                                  <div class="menu-grid__item-body">
                                    <h3 class="menu-grid__item-title">Сообщения</h3>
                                  </div>
                                </a>

                                <a href="#" class="menu-grid__item menu-grid__item_messages">
                                    <div class="menu-grid__item-body">
                                      <h3 class="menu-grid__item-title">Сообщения</h3>
                                    </div>
                                  </a>

                                  <a href="#" class="menu-grid__item menu-grid__item_messages">
                                      <div class="menu-grid__item-body">
                                        <h3 class="menu-grid__item-title">Сообщения</h3>
                                      </div>
                                    </a>

                                    <a href="#" class="menu-grid__item menu-grid__item_messages">
                                        <div class="menu-grid__item-body">
                                          <h3 class="menu-grid__item-title">Сообщения</h3>
                                        </div>
                                      </a>
                  </div>
                </div>
            </main>
        </div>
        <script src="js/main.min.js"></script>
    </body>
</html>