<header class="main-header">
   <form class="main-header__form">
     <button type="submit" class="main-header__search-submit"></button>
     <input placeholder="Поиск " type="text" class="main-header__input">
   </form>
   <div class="main-header__notifications">
     <div class="main-header__notification main-header__notification_messages">
       <span class="main-header__notification-number">4</span>
     </div>
     <div class="main-header__notification main-header__notification_tasks">
      <span class="main-header__notification-number">4</span>
     </div>
   </div>
   <button type="button" class="main-header__logout">Выйти</button>
</header>