<aside class="main-sidebar">
    <div class="main-sidebar__logo-wrapper">
        <a href="/" class="logo">
            <div class="logo__img">
            </div>
            <span class="logo__text">Система <br> подготовки <br> рассылок</span>
          </a>
    </div>
    <div class="main-sidebar__body">
      <button type="button" class="main-sidebar__btn-add btn btn-primary btn-lg btn-add">Создать рассылку</button>
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item main-nav__item_users">
            <a href="/users.html" class="main-nav__link">Пользователи</a>
            <ul class="main-nav__sublist">
              <li class="main-nav__sublist-item"><a href="/users.html" class="main-nav__sublist-link">Пользователи</a></li>
              <li class="main-nav__sublist-item"><a href="/roles.html" class="main-nav__sublist-link">Роли</a></li>
            </ul>
          </li>
          <li class="main-nav__item main-nav__item_templates">
            <a href="/templates.html" class="main-nav__link">Шаблоны</a>
            <ul class="main-nav__sublist">
              <li class="main-nav__sublist-item"><a href="/templates.html" class="main-nav__sublist-link main-nav__sublist-link_active">Шаблоны писем</a></li>
              <li class="main-nav__sublist-item">
                <a href="#" class="main-nav__sublist-link">Шаблоны оформления</a>
              </li>
              <li class="main-nav__sublist-item">
                <a href="#" class="main-nav__sublist-link">Блоки шаблонов</a>
              </li>
            </ul>
          </li>
          <li class="main-nav__item main-nav__item_mailings">
            <a href="#" class="main-nav__link">Рассылки</a>
            <ul class="main-nav__sublist">
              <li class="main-nav__sublist-item"><a href="#" class="main-nav__sublist-link">Рассылки</a></li>
              <li class="main-nav__sublist-item">
                <a href="#" class="main-nav__sublist-link">Отчеты по расылкам</a>
              </li>
              <li class="main-nav__sublist-item">
                <a href="#" class="main-nav__sublist-link">Планировщик рассылок</a>
              </li>
              <li class="main-nav__sublist-item">
                <a href="#" class="main-nav__sublist-link">Задачи</a>
              </li>
            </ul>
          </li>
          <li class="main-nav__item main-nav__item_settings"><a href="#" class="main-nav__link">Настройки</a></li>
        </ul>
      </nav>
    </div>
</aside>